.loginTitle {
    margin: 1rem 0;
    font-size: 2.25rem;
}

.loginCopy {
    margin: 0.5rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.loginInput {
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1.75rem;
    border: 1px solid #bfbdbb;
    font-size: 1rem;
    transition: all .2s ease-in-out;
}

.loginInput:hover,
.loginInput:active {
    border-color: #40a9ff;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;;
    font-size: 1rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #d9d9d9;
    transition: all .2s ease-in-out
}

.button:hover {
    border-color: #40a9ff;
    color: #40a9ff;
}

.register {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerCopy {
    margin: 0;
    font-size: 1rem;
}

.registerLink {
    margin: 0.5rem 0 1rem 0;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1rem;
}

.userIcon {
    position: absolute;
    bottom: 23px;
    left: 8px;
    pointer-events: none;
}

.lockIcon {
    position: absolute;
    bottom: 23px;
    left: 8px;
    pointer-events: none;

}